apiVersion: v1
kind: Service
metadata:
  name: nginx-svc
  labels:
    app: nginx-svc-demo
spec:
  type: ClusterIP
  selector:
    app: nginx-svc-demo # PAY ATTENTION TO THIS LABEL. IT IS USED TO MATCH THE PODS. NOT THE RS.
  ports:
    - name: http
      port: 80
      targetPort: 80
